<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- danfo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&display=swap" rel="stylesheet">

    <!-- Ruslan Display -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ruslan+Display&family=Slackey&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/slick.css">
</head>
<body>
    <base href="/">

    {{> header}}
     
    <div class="product-container">

        

        <div id="owl" class="slider single-item">
            {{#each image}}
                <div>
                    <img src="{{this}}" alt="1">
                </div>
            {{/each}}
        </div>

        <div>
            <h2 id="title">{{title}}</h2>
            <p><b id="modal-price">Цена: ${{price}}</b></p>
            {{#if auth}}
                <button id="add-to-cart" class="custom-btn btn-2" onclick="add()">Добавить в корзину</button>
            {{else}}
                <button id="add-to-cart" class="custom-btn btn-2" onclick="dismiss()">Добавить в корзину</button>
            {{/if}}                
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>