<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&display=swap" rel="stylesheet">

    <!-- Ruslan Display -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ruslan+Display&family=Slackey&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="./css/enter.css">
</head>
<body>
    <base href="/">
    {{>header}}
    <div id="enter-main" class="hidden modal">
            <div class="enter">
                <form action="/login" method="POST" id="log">
                    <input type="email" placeholder="Введите email">
                    <input type="password" placeholder="Введите пароль">
                    <button class="custom-btn btn-2">Зарегистрироваться</button>
                </form>
                <a href="log" class="singup" id="signup">Войти</a>
            </div>
    </div>
</body>
</html>