* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #333;
    font-family: Blippo, fantasy;
    font-size: 35px;
}

ul {
    height: 50px;
    margin-top: 10px;
    display: block;
}

li {
    display: inline-block;
    margin-top: 2px;
}

#first {
    margin-left: 380px;
    position: sticky;
} 

#second {
    margin-left: 200px;
}

#third {
    margin-left: 200px;
}

#fourth{
    margin-left: 200px;

}

.sticky {
    background-color:whitesmoke; /* Полупрозрачный белый */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
}


#enter-main{
    height: 100%;
}

.enter, #log{
  display: flex;
  justify-content: end; /* Центрирование по горизонтали */
  align-items: center;     /* Центрирование по вертикали */
  flex-direction: column;
  gap: 15px;
  height: 55vh;
}  

input {
  border: 2px solid transparent;
  width: 400px;
  height: 40px;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.custom-btn {
  width: 400px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.singup{
    background: none;
    background-color: none;
    border: none;
    color: #004dff;
    font-weight: 500;
    font-size: 15px;
}


.danfo {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
  
.ruslan-display-regular {
      font-family: "Ruslan Display", sans-serif;
      font-weight: 400;
      font-style: normal;
}
