html {
    scroll-behavior: smooth;
}

nav{
    z-index: 5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    z-index: 5;
}

ul {
    height: 50px;
    margin-top: 10px;
    display: block;
}

li {
    display: inline-block;
    margin-top: 2px;
}

.sticky {
    background-color: whitesmoke; /* Полупрозрачный белый */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 680px) {
    .sticky {
        flex-direction: column;
    }
}

#first {
    margin-left: 380px;
    position: sticky;
}

#second {
    margin-left: 200px;
}

#third {
    margin-left: 200px;
}

#fourth {
    margin-left: 200px;
}

a{
    text-decoration: none;
    color: #333;
    font-family: Blippo, fantasy;
    font-size: 35px;
}

.danfo {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
  
.ruslan-display-regular {
      font-family: "Ruslan Display", sans-serif;
      font-weight: 400;
      font-style: normal;
}

#products-container {
    width: 1150px;
    justify-content: space-around; /* Равномерно распределяем блоки */
    align-items: flex-start; /* Выровняем по верху */
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 50px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; /* Добавляем рамку для карточки */
    padding: 16px; /* Отступы внутри карточки */
    border-radius: 4px; /* Закругляем углы */
}

.img-small {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product-label {
    color: #1e2536;
    font-size: 20px;
    text-align: center;
}

.description {
    font-size: 14px;
    color: #666;
}

.view-details {
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.view-details:hover {
    cursor: pointer;
}

@media (max-width: 680px) {
    #products-container {
        grid-template-columns: 45% 45%;
    }
}



@media (max-width: 680px) {
    .modal-content {
        width: 95%;
    }
    .close {
        right: 20px;
    }
    #modal-image {
        width: 100%;
        height: auto;
    }
}

.hidden{
    display: none;
}
.filter{
    width: 300px;
    height: 500px;
    border: 1px solid black;
}

#grand{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
}

.sort{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 295px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
}

#owl {
  margin: 0 auto; /* горизонтальное центрирование */
  max-width: 600px; /* задайте нужную ширину */
  margin-left: 180px;
}


.slick-dots li button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #eee;
  color: #333;
  font-weight: bold;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.slick-dots li.slick-active button {
  background: #333;
  color: #fff;
  border-color: #333;
}

 .slick-dots {
  text-align: center; /* Центрируем точки по горизонтали */
  margin: 10px 0 0 0; /* Отступ сверху, при необходимости */
  position: relative;
  margin-right: 100px;
}

.slick-slider {
  position: relative;
}

.slick-prev {
  display: none;
}

.custom-btn {

  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

