* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.danfo {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ELSH" 0;
}

.ruslan-display-regular {
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* From Uiverse.io by Yaya12085 */
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
    display: none;
}

input {
    border: 2px solid transparent;
    width: 300px;
    height: 40px;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

input:hover,
input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.custom-btn {

    height: 40px;
    width: 300px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 15px;
}

.btn-2 {
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.container {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orders-container {
    width: 50%;
}


#total-price {
    width: 750px;
    margin-top: 0;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total {
    margin-left: 30px;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    align-items: center;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.image img {
    width: 100px;
    height: 100px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 150px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#plus-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#minus-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:focus,
input:focus {
    outline: none;
}

.total-price {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin-left: auto;
}

.shopping-cart{
    border: 1px solid black;
}

.ready{
    margin-bottom: 20px;
    width: 200px;
}